@page "/administrar"

<EditForm Model="inventario" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>

    <div class="card align-items-inherit bg-light mb-5" style="width: 35rem;">

        <div class="card mb-3 bg-secondary">

            <div class="card-header bg-dark">
                <h3 class="text-white">Entrada de Productos Empacados</h3>
            </div>

            <div class="card-body">

                <div class="form-row align-items-center mb-3">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group">

                                <span class="input-group-text">Id</span>
                                <InputNumber class="form-control me-3 rounded-end" @bind-Value="Id"/>
                                @* <ValidationMessage For="@(() => producto.ProductoId)"/> *@
                                <div class="input-group-append">
                                     <button type="button" class="btn btn-dark input-group-text" > @* @onclick="Buscar" *@
                                         <span class="oi oi-magnifying-glass" title="magnifying-glass" aria-hidden="true"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            

                <div class="form-group mb-3">
                    <div class="input-group">

                        <span class="input-group-text">Fecha</span>
                        <InputDate class="form-control" @bind-Value="Fecha"/>
                        <ValidationMessage For="@(() => Fecha)"/>

                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="input-group">

                        <span class="input-group-text">Concepto</span>
                         <InputText class="form-control" @bind-Value="Concepto" />
                        <ValidationMessage For="@(() => Concepto)"/>

                    </div>
                </div>

            </div>
            
        </div>
            
        <div class="card mb-3 bg-secondary">

            <div class="card-header bg-dark">
                <h3 class="text-white">Utilizados</h3>
            </div>

            <div class="card-body">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group">

                            <div class="d-inline mx-3">

                                <label>Producto</label>
                                <select class="form-select" aria-label="Default select example" @bind="Producto">
                                    <option selected disabled value="">Selecciona...</option>
                                    <option value="Caja Mixta">Caja Mixta</option>
                                    <option value="Fundita Mixta">Fundita Mixta</option>
                                    <option value="2">Mani</option>
                                    <option value="3">Pistacho</option>
                                    <option value="4">Pasas</option>
                                    <option value="5">Ciruelas</option>
                                    <option value="6">Arandanos</option>
                                </select>

                            </div>

                            <div class="d-block">

                                <label>Cantidad</label>
                                <InputNumber class="form-control" @bind-Value="Cantidad"/>

                            </div>
                            
                            <div class="m-4">

                                <button type="button" class="btn btn-lg btn-dark" @onclick="Guardar">
                                    Add
                                </button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <h5 class="text-black m-2">Inventario</h5>
            <table class="table table-light">
                <thead class="thead">
                    <tr class="table m-3">
                        <th>Id</th>
                        <th>Fecha</th>
                        <th class="m-6">Concepto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var inventario in DataInventario)
                    {
                        <tr>
                            <td>@inventario.Id</td>
                            <td>@inventario.Fecha</td>
                            <td>@inventario.Concepto</td>

                            <td>
                                <span class="btn btn-sm btn-secondary oi oi-ban" href="#">
                                    Remover
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <h5 class="text-black m-2">Cajas</h5>
            <table class="table table-light">
                <thead class="thead">
                    <tr class="table m-3">
                        <th>Id</th>
                        <th>Fecha</th>
                        <th class="m-6">Peso</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var caja in DataCajas)
                    {
                        <tr>
                            <td>@caja.Id</td>
                            <td>@caja.Fecha</td>
                            <td>@caja.Peso lbs</td>

                            <td>
                                <span class="btn btn-sm btn-secondary oi oi-ban" href="#">
                                    Remover
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <h5 class="text-black m-2">Funditas</h5>
            <table class="table table-light">
                <thead class="thead">
                    <tr class="table m-3">
                        <th>Id</th>
                        <th>Fecha</th>
                        <th class="m-6">Peso</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fundita in DataFunditas)
                    {
                        <tr>
                            <td>@fundita.Id </td>
                            <td>@fundita.Fecha </td>
                            <td>@fundita.Peso lbs</td>

                            <td>
                                <span class="btn btn-sm btn-secondary oi oi-ban" href="#">
                                    Remover
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="card mb-3 bg-secondary">

            <div class="card-header bg-dark">
                <h3 class="text-white">Producido</h3>
            </div>

            <div class="card-body">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="d-block mx-3">
                                <label>Producto</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected disabled value="">Selecciona...</option>
                                    <option value="1">Caja Mixta</option>
                                    <option value="2">Mani</option>
                                    <option value="3">Pistacho</option>
                                    <option value="4">Pasas</option>
                                    <option value="5">Ciruelas</option>
                                    <option value="6">Arandanos</option>
                                </select>
                            </div>
                            <div class="d-block">
                                <label>Cantidad</label>
                                <InputNumber class="form-control" @bind-Value="Producido"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group text-center mb-3">
             <button type="button" class="btn btn-lg btn-outline-dark mx-3" @onclick="Nuevo">
                Nuevo
            </button>
            <button type="button" class="btn btn-lg btn-outline-success mx-3" @onclick="Guardar">
                Guardar
            </button>
            <button type="button" class="btn btn-lg btn-outline-danger mx-3" @onclick="Eliminar">
                Eliminar
            </button>
        </div>

    </div>
    
</EditForm>


@code {

    public Inventario inventario = new Inventario();
    @* public Caja caja = new Caja(); *@
    public Fundita fundita = new Fundita();

    //Entrada de Productos Empacados
    int Id;
    DateTime Fecha ;

    string Concepto;

    //Utilizados
    string Producto;
    int Cantidad;

    List<Inventario> DataInventario = new List<Inventario>();
    List<Caja> DataCajas = new List<Caja>();
    List<Fundita> DataFunditas = new List<Fundita>();

    //Producido
    int Producido;
    
    //Botones
    public void Nuevo(){
        Id = 0;
        Fecha = DateTime.Now;
        Concepto = "";
        Cantidad = 0;
        Producido = 0;
        DataInventario = InventarioBLL.getLista();
        DataCajas = InventarioBLL.getListaCaja();
        DataFunditas = InventarioBLL.getListaFunditas();

    }

    public void Guardar(){
        //Guardar entrada de productos

        //Guardar Utilizados
        if(Producto == "Caja Mixta"){

            if (Concepto == ""){

                Concepto = "Produciendo Cajas";

            }

            GuardarCaja();

        }else if(Producto == "Fundita Mixta"){

            if (Concepto == ""){

                Concepto = "Produciendo Funditas";
                
            }
            Fundita fundita = new Fundita();
            fundita = CajasBLL.ConvertirCaja();
            Cantidad = fundita.Peso;

            for(int s = 0; s < 20; s++){

                FunditasBLL.Guardar(Cantidad);

            }

        }
        
        GuardarInventario();
        Nuevo();

    }
    public void Eliminar(){

    }

    //Utilidades

    public void GuardarInventario(){
        
        inventario.Concepto = Concepto;
        InventarioBLL.Guardar(DateTime.Now ,Concepto);

    }
    
    public void GuardarCaja(){
        Caja caja = new Caja();
        caja.SetCajaMixta(Cantidad);
        CajasBLL.Guardar(caja);
    }

    public void GuardarFunditas(){
        Fundita fundita = new Fundita();
        @* fundita.SetFunditaMixta(Cantidad); *@
        FunditasBLL.Guardar(Cantidad);
    }
    
}
